article{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 15px;
    gap: 10px;
}
.kategoriak{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 10px;
}
.nagykep{
    width: 250px;
    border-radius: 12px;
}
#kategoriaCim{
    text-align: center;
}
.kategoria{
    position: relative;
    height: 250px;
}
.KKepCim{
    transition: .2s ease;
    opacity: 0;
    font-size: 40px;
    color:black;
    position: relative;
    bottom: 60%;
}
.kep{
    opacity: 1;
    transition: .2s ease;
}
.kategoria a{
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
.kategoria:hover .kep{
    opacity: 0.1;
}  
.kategoria:hover .KKepCim{
    opacity: 1;
}