@charset "utf-8";

.dolgozok{
    width:100%; 
    border:1px solid black;
}
body{
    background-color: rgba(75, 1, 1, 0.808);
}
main{
    background-color: peachpuff;
}
nav ul li {
    padding: 3px 10px;
    border: 1px solid lavender;
    border-radius: 5px;
    list-style-type: none;
    background-color: rgba(75, 1, 1, 0.808);
    width:auto;
    text-align: center;
}
nav ul li:hover {
    background: lavender;
}
nav ul a {
    text-decoration: none;
    color: rgb(189, 161, 161);
    
}
button{
    background-color: rgba(75, 1, 1, 0.808);
    color: rgb(189, 161, 161);
}

.logo{
    width: 100px;
}
.nagykep{
    width: 250px;
}
.kep{
    width: 250px;
}