@charset "utf-8";

main{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
html{
    
    min-height: 100%;
    position: relative;
}
article{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
/*******menü kialakítása*******/
.felsoSav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}
#menuszet1{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr 1fr;
    grid-gap: 1px;
    padding: 0px;

}
#menuszet2{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 0px;

}

/*
 BARNA proba menu
*/

.dropbtn {
    background-color: rgb(243, 237, 229);
    color: rgb(51, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 160px;
    z-index: 2;
  }
  
  .dropdown-content a {
    color: rgb(51, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown2:hover .dropdown-content2 {display: block;}

  .dropdown:hover .dropbtn {background-color: rgb(189, 161, 161);}

  .dropdown2:hover .dropbtn2 {background-color: rgb(189, 161, 161);}

/******/

.nagydiv{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 0px;
}
.nagydiv div{
    margin:10px;
}
.belsoMezo{
    max-height: 400px;
    overflow: auto;
    margin-top: 5px;
}
.termekarticle{
    display: grid;
    grid-template-columns: 3fr  1fr;
    padding: 15px;
    
}
.termekarticle section{
    padding: 35px;
}
footer{
	position:absolute;
	bottom: 0;
    width: 100%;
    height: 50px;
}

/************reszponzivitás****************/
@media screen and (max-width: 800px) {

    #konyha {
        grid-template-columns: 1fr 1fr;
    }
    #menuszet1{
        display: none;
    }
    #menuszet2{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #konyha {
        grid-template-columns: 1fr;

    }
    .felsoSav{
        grid-template-columns: 1fr;
          
    }
    .logo{
        display: block;
        margin: auto;
    }
    
}

@media screen and (min-width: 800px) {
    .dropdown{
        display: none;
    }
}