@charset "utf-8";

main{
    max-width: 1200px;
    margin: auto;
}
nav ul {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 5px;
    padding: 0px;
}
.felsoSav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}
