@charset "utf-8";

main{
    max-width: 1800px;
    margin: auto;
}
/* nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 0px;
} */
.felsoSav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}
#menuszet1{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr 1fr;
    grid-gap: 1px;
    padding: 0px;

}
#menuszet2{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 0px;

}

.nagydiv{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 0px;
}
.nagydiv div{
    margin:10px;
}