.dolgozok{
    width:100%; 
    border:1px solid rgb(51, 0, 0);
    padding: 10px;
}

#dolgId{
    display: none;
}

#sablonhoz .dolgozo{
    display: none;
}

tr{
    padding: 10px;
    margin: 1px;
}

td{
    padding-bottom: 10px;
    padding-left: 50px;
}
/************reszponzivitás****************/
 @media screen and (max-width: 1200px) {
     .dolgozok{
         padding: 0px;
     }
    tr{
        display: grid;
        grid-template-columns: 1fr;
        border:1px solid rgb(51, 0, 0);
    } 
    
    thead{
        display: none;
    }
    .dolgozok .torles, .dolgozok .modositas, .urlap{
        display: none;
    }
    .regisztraciofelv{
        display: none;
    }
}