article{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
}
.kategoriak{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-gap: 1px;
    padding: 10px;
}
.nagykep{
    width: 200px;
    border-radius: 12px;
    height: 450pt;
}
#kategoriaCim{
    text-align: center;
}
.kategoria{
    position: relative;
    height: 250px;
}
.KKepCim{
    transition: .2s ease;
    opacity: 0;
    font-size: 40px;
    color:black;
    position: relative;
    bottom: 60%;
}
.kep{
    opacity: 1;
    transition: .2s ease;
    
}

.kategoria a{
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
.kategoria:hover .kep{
    opacity: 0.1;
}  
.kategoria:hover .KKepCim{
    opacity: 1;
}

.belsoMezo::-webkit-scrollbar{
    width: 20px;
    background-color: white;
    border: 1px solid  white;
    border-radius: 50px;
}
.belsoMezo::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: rgb(51, 0, 0);
    border: 1px solid  white;
    border-radius: 50px;
}

/************reszponzivitás****************/
@media screen and (max-width: 1215px) {
    .nagykep{
        display: none;
    }
    article{
        grid-template-columns: 3fr 1fr;
    }
}
@media screen and (max-width: 1035px) {
    article{
        grid-template-columns: 2fr 1fr;
    }
    .kategoriak{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    article{
        grid-template-columns: 1fr;
    }
    
    .kep{   
       
        display: none;
    }
    .KKepCim{
        opacity: 1;
        bottom: 35%;
        color: white;

    }
    .kategoria{
        margin: 15px;
        height: 35px;
        background-color: rgb(51, 0, 0);
        
    }
}
@media screen and (max-width: 565px) {
    .kategoriak{
        grid-template-columns: 1fr;
    }
    .kep{   
       
        display: none;
    }
    .KKepCim{
        opacity: 1;
        bottom: 35%;
        color: white;

    }
    .kategoria{
        margin: 15px;
        height: 35px;
        background-color: rgb(51, 0, 0);
        
    }

}