@charset "utf-8";

/**reszponzivitás**/
@media screen and (max-width: 1200px) {
    #rendelesek,
    #atrendelesek {
        grid-template-columns: 1fr 1fr;
    }
    .urlap,
    #rendeleshozza,
    .szerkesztes {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #rendelesek {
        grid-template-columns: 1fr;
    }
}

article .buttonok {
    margin-bottom: 30px;
}
