@charset "utf-8";

.termek{
    border: 1px solid rgb(51, 0, 0);
    align-content: center;
}

.termek>h3, .termek>a{
    margin: auto;
}

.termek>p{
    text-align: center;
    margin: 1pt;
}

.tTorles>button, .tModositas>button{
    margin-top: 5pt;
}

.tModositas{
    float: right;
}

.termeknev{
    font-size: x-large;
    width: fit-content;
    padding: 4pt;
    background-color: #ddd2d3;
    border-radius: 5pt;
    border: 1px solid rgb(51, 0, 0);
}

#termek_id{
    display: none;
    height: 0;
}

#ajaxUjTermek{
    margin-left: 15pt;
    float: right;
}

#tAjaxModosit{
    float: left;
}

/* KOSÁR */
table{
    width: 100%;
}
.kosarTorol{
    float: right;
}
#osszar{
    font-size: large;
}

/************reszponzivitás****************/
@media screen and (max-width: 1110px) {
    .nagydiv{
        grid-template-columns: 1fr  1fr;
    }
    
    
}

@media screen and (max-width: 820px) {
    .nagydiv{
        grid-template-columns: 1fr 1fr;
    }
    .termekarticle{
        grid-template-columns: 2fr  1fr;
    }
    .urlap{
        display: none;
    }
    .kep{   
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .termekarticle{
        grid-template-columns: 1fr;
    }
    .nagydiv div{
        margin:0px;
    }
    .termekarticle section{
        padding: 5px;
    }
    
    
}